{
  /**
   * ECMA 요구사항
   */
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "experimentalObjectRestSpread": true
  },

  /**
   * 환경
   */
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  /**
   * 확장
   */
  "extends": ["standard", "airbnb"],

  /**
   * 글로벌 변수
   */
  "globals": {
    "$": true,
    "app": true,
    "doc": true,
    "body": true,
    "electron": true,
    "device": true,
    "win": true,
    "html": true
  },

  /**
   * 파서
   */
  "parser": "babel-eslint",

  /**
   * 플러그인
   */
  "plugins": ["standard", "react"],

  /**
   * 사용자화
   */
  "rules": {
    "comma-dangle": [2, "never"],
    "consistent-return": 0,
    "default-case": 0,
    "guard-for-in": 0,
    "func-names": 0,
    "max-len": [2, 100, 2, {"ignoreComments": true }],
    "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
    "no-console": 0,
    "no-labels": 0,
    "no-cond-assign": 0,
    "no-param-reassign": 0,
    "no-shadow": [2, { "hoist": "functions" }],
    "no-use-before-define": [2, "nofunc"],
    "no-unused-expressions": [2, { allowShortCircuit: true, allowTernary: true }],
    "object-curly-spacing": 0, // [2, "never"]
    "quote-props": [2, "as-needed", { "keywords": true }],
    "react/prop-types": 0,
    "react/sort-comp": 0,
    "space-before-function-paren": [2, "never"],
    "strict": 0
  }
}
